repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["-f", "-S", "*.csv, *.png"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.12.4
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--fix, --preview]
      # Run the formatter.
      - id: ruff-format
        args: [--preview]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        additional_dependencies:
          - pandas-stubs
          - types-seaborn
        args: [--ignore-missing-imports, --no-error-summary]
        exclude: ^tests/
